.clock_block {
  padding: 30px;
  margin: 10px;
  background-color: bisque;
}
.clock_block:hover {
  padding: 30px;
  margin: 10px;
  background-color: #f2d2c2;
}

.current_time {
  font-size: 40px;
  padding: 20px;
}

.clock_time {
  font-size: 50px;
  color: rgb(51, 42, 80);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
}

hr.solid {
  border-top: 3px solid #bbb;
}

.hidden {
  display: none;
}

.Source {
  padding: 3px;
}
.hub {
  background-color: hsl(40, 96%, 55%);
  padding: 0.5px 4px;
  border-radius: 5px;
}
