@tailwind base;
@tailwind components;
@tailwind utilities;
@import '/src/css/styles';

.clock-block {
  @apply flex justify-center items-center p-8 m-3 bg-orange-300 rounded-lg hover:bg-amber-500;
}

.current-time {
  font-size: 40px;
  padding-right: 10px;
}

.clock-time {
  font-size: 50px;
  color: rgb(51, 42, 80);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr.solid {
  border-top: 3px solid #bbb;
}

.hidden {
  display: none;
}

.Source {
  padding: 3px;
}
.hub {
  background-color: rgb(66, 202, 184);
  padding: 0.5px 4px;
  border-radius: 5px;
}

#greetingsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#greetingsContainer h1,
h2 {
  margin: 4px 0px; /* 상하 마진 설정, 좌우 마진은 0 */
}

.loginInputFormContainer {
  border: 15px solid #f5d394f1; /* 테두리 설정 */
  background-color: #f5d394f1; /* 배경색 */
  border-radius: 20px;
}

#login-form {
  text-align: center;
  width: fit-content;
  margin: 10px auto;
}

#loginButton {
  background-color: rgb(156, 86, 206);
  color: #f2d2c2;
  border-radius: 7px;
}
#loginButton:hover {
  background-color: #cc8de9;
}

#idInputForm,
#passwordInputForm {
  margin-bottom: 5px;
  width: 100px;
  height: 20px;
  border-radius: 7px;
}
